* {
  box-sizing: border-box;
}



:root {
  --iconColor: rgba(70, 70, 70, 0.746);
  --borderSearchColor: rgb(251, 195, 92);
  --SearchinpRadius: 10px 10px;
  --iconColorMouseHover: rgba(70, 70, 70, 0.442);
  --transition: 0.25s;
  --headerBackgroundColor: rgba(128, 128, 128, 0.122);
  --SearchinpHeight: 3em;
  --boxShadow: 0px 6px 20px 1px rgba(125, 125, 125, 0.853);
  --logoFontSize: 1.7em;
  --LogoFontWeight: 600;
}

a {
  text-decoration: none;
  color: black;
}


.allLinks {
  color: var(--iconColor);
  transition: var(--transition);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.allLinks:hover {
  cursor: pointer;
  color: var(--iconColorMouseHover);
  transition: var(--transition)
}

.logo {
  font-family: Arial, Helvetica, sans-serif;
  font-size: var(--logoFontSize);
  font-weight: var(--LogoFontWeight);
}

#homePageHeader {
  position: static;
  padding: 0.5em;
  display: flex;
  flex-direction: row;
  width: 99%;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  align-items: center;
  box-shadow: var(--boxShadow)
}

#homePageHeader div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

#homePageHeaderLogo img {
  height: 3em;
}


#homePageHeaderSearch {
  margin-right: 0.5em;
  font-size: 1.7em;
}

#homePageHeaderUserProfile img {
  width: 2.2em;
  height: 2.2em;
  border: 0.2em solid var(--iconColor);
  border-radius: 22px 22px;
}

#searchInpBlock {
  position: relative;
  margin-top: 0.5em;
  flex-direction: row;
  justify-content: space-between;
  height: var(--SearchinpHeight);
  border: 0.17em solid var(--borderSearchColor);
  border-radius: var(--SearchinpRadius);
  z-index: 2;
  transition: var(--transition);
  background-color: white;
}

#searchInpBlockInput {
  border: none;
  outline: none;
  width: 80%;
  background-color: transparent;
  font-size: 1.8em;
  border-radius: var(--SearchinpRadius);

}

#searchButton {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 1.4em;
  font-weight: 300;
  margin: 0.1em;
  margin-right: 0.1em;
  padding: 0.25em 0.3em 0.25em 0.3em;
  border-radius: 8px 8px;
  background-color: var(--borderSearchColor);
}

#searchButton:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 1.4em;
  font-weight: 300;
  margin: 0.1em;
  margin-right: 0.1em;
  padding: 0.25em 0.3em 0.25em 0.3em;
  border-radius: 8px 8px;
  background-color: rgb(249, 182, 57);
}

.searchBlockSetting {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

#faKeyboard {
  margin-right: 1em;
  font-size: 2em;
}

#complateHeaderSearchPannel {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  width: 100%;
  align-content: center;
  justify-content: center;
  justify-items: center;
  background-color: var(--headerBackgroundColor);
}

#globalInformation {
  margin-top: 0.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.3em;
  font-weight: 600;
}

#temp {
  margin-left: 0.5em;
  color: black;
  transition: var(--transition);
}

#temp:hover {
  margin-left: 0.5em;
  color: var(--iconColorMouseHover);
  transition: var(--transition);
}

#moon_sun {
  color: var(--borderSearchColor);
}

#city {
  font-family: 'Courier New', Courier, monospace;
  margin-left: 2em;
}

.cityListElem {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5em;
  font-size: 1.3em;
  color: black;
  padding: 0.3em;
  background-color: rgba(128, 128, 128, 0.587);
  width: 15em;
  border-radius: 15px 15px;
}

.cityListElem:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5em;
  font-size: 1.3em;
  color: black;
  padding: 0.3em;
  background-color: rgba(128, 128, 128, 0.296);
  width: 15em;
  border-radius: 15px 15px;
}

#cityListSpace {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 27em;
  padding: 1em;
  border-radius: var(--SearchinpRadius);
  background-color: white;
}

#cityListSpaceHeader {
  color: black;
  font-size: 2em;
}

#cityListBoxShaow {
  position: absolute;
  display: flex;
  z-index: 12;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.469);
}

.cityListComponent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 26em;
  height: 15em;
  box-shadow: var(--boxShadow);
  border-radius: 18px 18px;
  z-index: 5;
  color: var(--iconColor);
  background-color: white
}

.cityListComponent div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22em;
  height: 3.5em;
  font-size: 1em;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 18px 18px;
}

.ctyListText {
  font-size: 1.1em;
  color: black;
}

#ctyListTextAutoWindow {
  font-size: 1.3em;
  color: black;
}

#ctyListTextAutoWindowText {
  color: black;
}

.ctyListTextAutoWindowHeader {
  margin-bottom: 0.5em;
}

#faXmark {
  color: rgba(0, 0, 0, 0.767);
  font-size: 1.7em;
}

#faXmark:hover {
  color: rgba(0, 0, 0, 0.617);
}

#cityListUpButton {
  margin-top: 0.5em;
  background-color: rgba(0, 0, 0, 0.889);
  color: rgb(255, 255, 255);
}

#cityListUpButton:hover {
  background-color: rgba(0, 0, 0, 0.66);
}

.cityListBottomButton {
  margin-top: 1em;
  background-color: rgba(0, 0, 0, 0.206);
  color: rgba(0, 0, 0, 0.839);
}

.cityListBottomButton:hover {
  color: rgba(0, 0, 0, 0.839);
  background-color: rgba(0, 0, 0, 0.122);

}

#cityListBlock {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 26em;
  height: 15em;
  box-shadow: var(--boxShadow);
  border-radius: 18px 18px;
  z-index: 6;
  color: var(--iconColor);
  background-color: white
}

#money {
  display: flex;
  flex-direction: row;
}

#USD,
#EUR,
#gas {
  padding: 0.3em;
}

#donloadYABrowser a {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 50;
  color: black;
  margin-left: 1em;
  transition: var(--transition);
}

#donloadYABrowser:hover a {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgba(255, 0, 0, 0.756);
  margin-left: 1em;
  transition: var(--transition);
}

#rightGlobalInf {
  display: flex;
  flex-direction: row;
}

#HeadSearchAndGlobalInfo {
  grid-area: 1/2/1/2;
  width: 60em;
}

#advertising {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  grid-area: 2/2/2/2;
  width: 60em;
  margin: 1em;
}

#advertising div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 49%;
  border-radius: var(--SearchinpRadius);
  height: 7em;
  background-color: rgba(127, 255, 212, 0.438);
}

#shadowWindow {
  position: absolute;
  display: grid;
  z-index: 2;
  grid-template-columns: 1fr 2fr 1fr;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.251);
}



#searchHistoryComponent {
  grid-area: 1/2/1/2;
  background-color: white;
  padding-top: 4em;
  border-radius: var(--SearchinpRadius);
  width: 61em;
  height: 35em;
  transition: var(--transition);
}

.elemSearchHistoryComponent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 98%;
  margin: 0.3em 0.3em 0.3em 0.3em;
  font-size: 1.5em;
  border-radius: var(--SearchinpRadius);
  padding: 0.2em;
  transition: var(--transition);
}

.elemSearchHistoryComponent:hover {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 98%;
  margin: 0.3em 0.3em 0.3em 0.3em;
  font-size: 1.5em;
  background-color: rgba(251, 195, 92, 0.908);
  border-radius: var(--SearchinpRadius);
  padding: 0.2em;
  transition: var(--transition);
}

.elemSearchHistoryComponent span {
  margin-left: 0.25em;
}

.serachElemText:hover {
  color: black;
}

.faClose:hover {
  color: black;
}

#informationContentBlock {
  display: grid;
}


#hotbar {
  display: flex;
  flex-direction: column;
  width: 9em;
  grid-area: left;
}

#hotbar hr {
  height: 2px;
  width: 95%;
}

#hotbar .allLinks {
  width: 9em;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0.5em;
  font-size: 1.1em;
  color: black;
  border-radius: var(--SearchinpRadius);
  margin-top: 0.1em;
}

#hotbar .allLinks:hover {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0.5em;
  font-size: 1.1em;
  color: black;
  border-radius: var(--SearchinpRadius);
  margin-top: 0.1em;
  background-color: var(--iconColorMouseHover);
}

.textHotbarComponent {
  margin-left: 0.5em;
}

.hotbarButtomElement {
  cursor: pointer;
  margin-bottom: 0.4em;
  margin-left: 0.6em;
}

.hotbarButtomElement a {
  color: var(--iconColor);
  font-size: 0.8em;
}

.hotbarButtomElement span,
a:hover {
  color: rgba(0, 0, 0, 0.758);
}

#moreLinksComponent {
  position: absolute;
  margin-left: 5%;
  margin-top: 24em;
  z-index: 13;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
  border-radius: var(--SearchinpRadius);
  padding: 0.5em 1em 0.5em 1em;
  width: 21em;
  background-color: white;
  box-shadow: var(--boxShadow);
}

#moreLinksComponent a {
  padding: 0.5em 0.5em 0.5em 0.5em;
  border-radius: var(--SearchinpRadius);
  font-size: 1.2em;
}

#moreLinksComponent a:hover {
  padding: 0.5em 0.5em 0.5em 0.5em;
  border-radius: var(--SearchinpRadius);
  font-size: 1.2em;
  background-color: rgba(128, 128, 128, 0.495);
}



#newsAndThemeBlock {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 0.5em;
  grid-area: 1/2;
}

#complateNewsHewaderComponent {
  display: flex;
  flex-direction: row;
}



.newsRuletteElemComponent {
  width: 6em;
}

#newsHeader {
  display: flex;
  flex-direction: row;
  align-items: center;

}


#newsRulleteHeader {
  overflow: hidden;
  position: relative;
  margin-left: 1em;
  width: 40em;
  height: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#newsRulette {
  position: absolute;
}

.newsRuletteComponent {
  padding: 0.4em;
  border-radius: 7px;
  font-size: 1em;
  color: rgb(98, 94, 94);
}

.newsRuletteComponent:hover {
  padding: 0.4em;
  background-color: rgba(128, 128, 128, 0.189);
  border-radius: 7px;
  font-size: 1;
  color: rgb(98, 94, 94);
}


.faChevron {
  z-index: 1;
  font-size: 1.5em;
  padding: 0px 10px;
  color: rgba(128, 128, 128, 0);
  background: linear-gradient(to right, rgba(255, 255, 255, 0.931), rgba(255, 255, 255, 0.732));
}

.faChevron:hover {
  z-index: 1;
  font-size: 1.5em;
  padding: 0px 10px;
  color: var(--iconColor);
}


.themeComponentHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 0.5em;
}

#themePicture {
  position: relative;
  border-radius: 25px 25px;
  height: 12em;
  width: 35em;
  overflow: hidden;
}

#themePicture #imgThemeOnDzen {
  height: 15em;
  width: 43em;
  -o-object-fit: cover;
  object-fit: cover;
  display: block;
  transition: 1s;
}

#themePicture:hover #imgThemeOnDzen {
  z-index: -1;
  transform: scale(1.1)
}


#themePicture #textInThemeAnimation {
  color: aliceblue;
  font-size: 6em;
  z-index: 111;
  position: absolute;
  bottom: 35%;
  left: 27%;
  transition: var(--transition);
}

#themePicture:hover #textInThemeAnimation {
  color: aliceblue;
  font-size: 5em;
  z-index: 111;
  position: absolute;
  bottom: 35%;
  left: 30%;
  transition: var(--transition);
}

#themeDownText {
  display: flex;
  align-items: center;
  font-size: 1.2em;
  position: absolute;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  bottom: 18%;
  left: 32%
}

.moreContentButton {
  color: black;
  font-size: 1.5em;
  padding: 0.3em;
  border-radius: var(--SearchinpRadius);
  background-color: var(--headerBackgroundColor);
}

.moreContentButton:hover {
  font-size: 1.5em;
  padding: 0.3em;
  border-radius: var(--SearchinpRadius);
  background-color: var(--iconColorMouseHover);
}

#articlesContentBlock {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  gap: 2em;
  width: 100%;
}

#ArticlesComplateComponent {

  background-color: aqua;
}

.article {
  display: grid;
  grid-template-rows: 50% 50%;
  font-family: Arial, Helvetica, sans-serif;
  height: 15em;
  width: 15em;
  border: 2px solid var(--iconColor);
  border-radius: 25px 25px;
}

.article:hover {
  display: grid;
  grid-template-rows: 50% 50%;
  height: 15em;
  width: 15em;
  border: 2px solid rgba(128, 128, 128, 0.792);
  border-radius: 25px 25px;
  box-shadow: var(--boxShadow);
}


.articleTop {
  border-radius: 25px 25px 0 0;
  overflow: hidden;
}

.articleTop .artickleHeadImg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.article:hover .artickleHeadImg {
  display: flex;
  justify-content: center;
  align-items: center;
  scale: 1.1;
  object-fit: cover;
}

.articleBottom {
  border-radius: 0 0 25px 25px;
  cursor: pointer;
}

.articleButtonsMenu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.3em 0.2em 0.3em;
}


.articleChannelInfo {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.channelIcon {
  width: 2em;
  height: 2em;
  border: 2px solid var(--iconColor);
  border-radius: 25px;
}

.channelIcon:hover {
  width: 2em;
  height: 2em;
  border: 2px solid var(--iconColorMouseHover);
  border-radius: 25px;
}

.faEllipsis {
  rotate: 90deg;
  padding: 0.2em;
  margin-top: 0.2em;
}

.articleChannelName {
  margin-top: 0.1em;
  font-size: 0.7em;
  font-weight: bold;
}

.articleSubscribeButton {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7.5em;
  height: 2.2em;
  font-size: 0.7em;
  font-weight: bold;
  margin-top: 0.2em;
  margin-left: 11.5em;
  color: rgba(0, 0, 0, 0.752);
  background-color: var(--iconColorMouseHover);
  border-radius: var(--SearchinpRadius);
}

.articleSubscribeButton:hover {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7.5em;
  height: 2.2em;
  font-size: 0.7em;
  font-weight: bold;
  margin-top: 0.2em;
  margin-left: 11.5em;

  color: black;
  background-color: var(--iconColor);
  border-radius: var(--SearchinpRadius);
}

.articleHeaderText {
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 0.8em;
  font-weight: bold;
  color: rgb(31, 30, 30);
  height: 2em;
  margin-left: 0.4em;
}

.articleText {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.7em;
  font-weight: bold;
  color: var(--iconColor);
  margin-left: 0.4em;
  padding: 0.2em;
}